/* Style page content */
body {
    background-color: #eee;
    color: #333;
}

/*.dark-mode {
    background-color: #333;
    color: #ccc;
}*/

.pink-mode {
    background-color: #9a4eae;
    color: #e92186;
}

.main {
    margin-left: 290px; /* Same as the width of the sidebar */
    padding: 0px 10px;
/*    color: #333; */
/*    color: #ccc; */
    font-size: 17px;
}

button {
    background-color: unset;
    border: unset;
    color: unset;
    text-decoration: underline;
}
        
ul {
/*    list-style-type: none; */
    font-size: 14pt;
    line-height:1.5;
}

p {
    font-size: 14pt;
}

ul li:before {
/*    content: '\2014'; */
    position: absolute;
    margin-left: -20px;
}

.date {
    padding: 1px;
    float: right;
    font-size: 18px;
    margin: 0px;
}

.collapsible {
    background-color: #8880;
    color: unset;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    border: none;
    outline: none;
}

.active, .collapsible:hover {
    background-color: #8882;
}

.content {
    padding: 0 20px;
    display: none;
    overflow: hidden;
/*    background-color: #ddd2; */
    background-color: #8882;
}

.small-text {
    font-size: 12px; 
    margin: 0px;
}

h1 {
    font-size: 22pt;
}

a {
    color: unset; 
/*    color: #333; */
}

a:hover {
    color:#a06262;
}
